<html>
	<head><title>LOST Facility Registration</title></head>
	<body>
	<h1>Facility Registration:</h1>
	<br>
		<h2>Current Facilities:</h2>
		<< ID | FCode | Name | Location >>
		<table>
		<tb>ID      </tb>
		<tb>FCode    </tb>
		<tb>Name    </tb>
		<tb>Location    </tb>
		</table>
		<table>
  {% for entry in session.processed %}
  <tr>
    <td>  {{ entry.column_name1 }} | </td>
    <td>  {{ entry.column_name2 }} | </td>
    <td>  {{ entry.column_name3 }} | </td>
    <td>  {{ entry.column_name4 }} | </td>

  </tr>>
  {% endfor %}
</table> 
<h2>Please Enter New Facility Parameters:</h2>
		<form action="{{url_for('add_facility')}}" method=post>
			<dl>
			<br>
				<dt><b>Facility Name:</b>
				<dd><input type=common_name name=common_name maxlength=16>
				<dt><b>Fcode:</b>
				<dd><input type=fcode name=fcode maxlength=16>
				<dt><b>Location:</b>
				<dd><input type=location name=location maxlength=16>
				<dd><input type=submit value=Register>
			</dl>
		</form><br>
		<a href="{{url_for('dashboard')}}">Dashboard</a>
	</body>
