<html>
	<head><title>LOST Asset Registration</title></head>
	<body>
	<h1>Asset Registration:</h1>
	<br>
		<h2>Current Assets:</h2>
		<< ID | Name | Location | FCode | Arrive | Depart >>
		<br>
		<table>
 {% for entry in session.asset_report %}
			<tr>
				<td>{{entry.asset_tag}}</td>
				<td>{{entry.description}}</td>
				<td>{{entry.facility_name}}</td>
				<td>{{entry.facility_fcode}}</td>
				<td>{{entry.arrive_dt}}</td>
				<td>{{entry.depart_dt}}</td>
			<tr>
			{% endfor %}
</table> 
<h2>Please Enter New Asset Parameters:</h2>
		<form action="{{url_for('add_asset')}}" method='POST'>
			<dl>
				<dt>Asset Tag (max 16 characters):
				<dd><input type='text' name='asset_tag' maxlength=16>
				<dt>Asset Description:
				<dd><input type='text' name='description'>
				<dt>
				Asset Intake Date:
				<dd><input type='date' name='arrive_dt' value='1999-01-01'>
				<dt>Asset Location:
				<dd><select name='common_name'>
					{% for entry in session.facility_name %}
					<option value='{{entry.common_name}}'>{{entry.common_name}}</option>
					{% endfor %}
				<dt>
				<dd><input type='submit' value='Add Asset'>
			</dl>
		</form> <br>
		<a href="{{url_for('login')}}">Login Screen</a>
	</body>
