<html>
	<head><title>LOST Transit Review</title></head>
	<body>
	<h1>Transit Request:</h1>
	<br>
	<h2>Current Requests:</h2>
		<table>
		<tb>Request ID      | </tb>
		<tb>Asset    |</tb>
		<tb>Requestor    |</tb>
		<tb>Source    |</tb>
		<tb>Destination |</tb>
		<tb>Request_dt </tb>
		</table>
		<table>
		<br>
 {% for entry in session.current_req %}
			<tr>
				<td>{{entry.req_tag}}</td>
				<td>|{{entry.asset_id}}</td>
				<td>|{{entry.requestor}}</td>
				<td>|{{entry.source}}</td>
				<td>|{{entry.destination}}</td>
				<td>|{{entry.request_dt}}</td>
				
			<tr>
			{% endfor %}
</table> 
		
<h2>Please Enter Transit Request:</h2>
		<form action="{{url_for('approve_req')}}" method='POST'>
			<dl>
				Response Date:
				<dd><input type='date' name='dispose_dt' value='1999-01-01'>
				<dt>
				<dt>Request ID:
				<dd><select name='requests'>
					{% for entry in session.requests %}
					<option value='{{entry.request_id}}'>{{entry.request_id}}</option>
					{% endfor %}
					</select>
				<dt>
				<dt>Approval:
				<dd><select name='approval'>
					
					<option value=Confirm>Confirm</option>
					<option value=Deny>Deny</option>
					
					</select>
				<dt>
				<dd><input type='submit' value='Update'>
			</dl>
		</form> <br>
		<a href="{{url_for('dashboard')}}">Dashboard</a>
	</body>
