<html>
	<head><title>LOST User Registration</title></head>
	<body>
	<h1>User Registration:</h1>
	<br>
		<h2>Please enter a username and password.</h2>
		<form action="{{url_for('create_user')}}" method=post>
			<dl>
			<br>
				<dt><b>Username:</b>
				<dd><input type=text name=username maxlength=16>
				<br>
				<dt><b>Password:</b>
				<dd><input type=password name=password maxlength=16>
				<br>
				<dt><b>Role:</b>
				'Logistics Officer' or 'Facilities Officer'.

				<select name='role'>
					<option value='Logistics Officer'>Logistics Officer</option>
					<option value='Facilities Officer'>Facilities Officer</option>
					
					</select>
				<dd><input type=submit value=Register>
			</dl>
		</form><br>
		<a href="{{url_for('login')}}">Login Screen</a>.
	</body>
</html>