<html>
	<head><title>LOST Dashboard</title></head>
	<body>
	<br>
Welcome {{session.username}}
<br>
<br>
<a href="{{url_for('add_facility')}}"> Add Facility</a>
<br>
<a href="{{url_for('add_asset')}}">Add Assets</a>
<br>
<a href="{{url_for('dispose_asset')}}">Dispose Assets</a>
<br>
<a href="{{url_for('asset_report')}}">Asset Report</a>
<br>
<a href="{{url_for('transfer_report')}}">Transfer Report</a>
<br>
<a href="{{url_for('transfer_request')}}">Transfer Request</a>


<br>
<br>
<a href="{{url_for('login')}}">Logout</a>
	</body>
</html>