<html>
	<head><title>LOST Transit Request</title></head>
	<body>
	<h1>Transit Request:</h1>
	<br>
		
<h2>Please Enter Transit Request:</h2>
		<form action="{{url_for('transit_request')}}" method='POST'>
			<dl>
				<dt>Asset Tag:
				<dd><select name='asset_tags'>
					{% for entry in session.facility_name %}
					<option value='{{entry.asset_tags}}'>{{entry.asset_tags}}</option>
					{% endfor %}
					</select>
				<dt>
				Request Date:
				<dd><input type='date' name='dispose_dt' value='1999-01-01'>
				<dt>
				<dt>Source Facility:
				<dd><select name='source'>
					{% for entry in session.facility_name %}
					<option value='{{entry.common_name}}'>{{entry.common_name}}</option>
					{% endfor %}
					</select>
				<dt>
				<dt>Destination Facility:
				<dd><select name='destination'>
					{% for entry in session.facility_name %}
					<option value='{{entry.common_name}}'>{{entry.common_name}}</option>
					{% endfor %}
					</select>
				<dt>
				<dd><input type='submit' value='Request Transfer'>
			</dl>
		</form> <br>
		<a href="{{url_for('dashboard')}}">Dashboard</a>
	</body>
