<html>
	<head><title>In Transit Report</title></head>
	<body><h1>In Transit Report</h1>
	<br>
	<table>
  {% for entry in session.processed_data_session_name %}
  <tr>
    <td>	{{ entry.column_name5 }} | </td>
    <td>	{{ entry.column_name6 }} | </td>
    <td>	{{ entry.column_name7 }} | </td>
    <td>	{{ entry.column_name8 }} |</td>
    <td>	{{ entry.column_name9 }} |</td>

  </tr>
  {% endfor %}
</table> 
	<br>
	<p>
	<br>
	
	<button type="button" onclick="javascript:history.back()">Back to Report Page</button>
    <br>
    <br>
    <b><a href="/getcookie">Username</a> &nbsp;
    <a href="logout">Logout</a> &nbsp; 

	</p></body>
</html>