<html>
	<head><title>Inventory Report</title></head>
	<body><h1>Inventory Report</h1>
	<br>
	<table>
  {% for entry in session.processed_data_session_name %}
  <tr>
    <td>  {{ entry.column_name1 }} | </td>
    <td>  {{ entry.column_name2 }} | </td>
    <td>  {{ entry.column_name3 }} | </td>
    <td>  {{ entry.column_name4 }} | </td>

  </tr>
  {% endfor %}
</table> 
	<br>
	<p>
	<br>
	<button type="button" onclick="javascript:history.back()">Back to Report Page</button>
    <br>
    <br>
    <b><a href="/getcookie">Username</a> &nbsp;
    <a href="logout">Logout</a> &nbsp; 

	</p></body>
</html>